/*for popup dispaly none*/
div#myModal {display: none;}
/* popup css*/
aside.modal-popup.prd-inquiry-popup.modal-slide._inner-scroll._show header.modal-header {display: block;margin: 0;padding-top: 15px;}
aside.modal-popup.prd-inquiry-popup.modal-slide._inner-scroll._show .modal-inner-wrap {box-sizing: border-box;margin-left: auto;margin-right: auto;max-width: 1024px;}
/* form css*/
#inq-form fieldset.fieldset {margin: 0 !important;}
button#inq-submit {margin-top: 15px;}
.attachement-error-msg {display: block;margin-top: 10px;}
.extension-error , .attachement-error-msg , .captcha-error-msg{color: #e02b27;font-size: 1.2rem;}
.require-notes {display: block;width: 100%;margin-top: 20px;color: #e0312e;font-weight: 600;}
form#inq-form input#file-upload {display: block;width: 100%;margin-bottom: 8px;}
div#file-upload-section .control input#attechment_file {display: block;width: 100%;margin-bottom: 8px;}
/* tab css */
div#product-inquiry-tab-main div#myModal-tab fieldset.fieldset legend.legend.inuiry-legend {display: block;border: none;}
