<?php
/// Modal /home/mahesh/public_html/vendor/magento/module-ui/view/base/web/js/modal
/* get current product value */
$prd = $block->getCurrentProduct();
$product_name = $prd->getEntityId();
// for Disable Button when no keys
$user_email = $user_name = $button_disable = '';
// Form Title
$form_title = $block->getFormTitle();
if($form_title == '')
{
  $form_title = 'Product Inquiry';
}
/*  get Module status */
$module_status  = $block->getModuleStatus();
/*check Guest or not */
if ($block->getUserStatus())
{
    $user_name = $block->getCurrentUserName();
    $user_email = $block->getCurrentUserEmail();
}
else
{
   $guest_status = $block->getGuestUserStatus();
   if($guest_status == 0)
   {
      $module_status=0;
   }
}
// chacke module Status
if ($module_status == 1)
{
  /* get current product attribute */
  $prd_attribute = $prd->getAttributeText('product_inquiry');
  if ($prd_attribute == 'Yes')
  {
    // button or Tab selection
    $button_tab = $block->getButtonTabOption();
    // for Check button enable
    if($button_tab == 'popup')
    {
      // button and tab Title
      $button_tab_title =  $block->getButtonTabTitle();
      if($button_tab_title == '')
      {
        $button_tab_title = 'Inquire Now';
      }
      ?>
      <!-- show Inquiry Button  -->
      <div class="inquiry-actions">
        <button type="button"
                  class="action primary inquiry"
                  id="product-inquiry-button">
            <span><?php echo $button_tab_title; ?></span>
        </button>
      </div>
      <script>
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function($,modal) {
                $(document).ready(function(){
                  $("#product-inquiry-button").click(function(){
                      var options = {
                          modalClass: 'prd-inquiry-popup',
                          type: 'popup',
                          responsive: true,
                          innerScroll: true,
                          title: '<?php echo $form_title; ?>',
                           buttons: []
                      };
                      var popup = modal(options, $('#myModal'));
                      $('#myModal').modal('openModal');
                  });
                });
            }
        );
      </script>
      <!-- The popup -->
      <div id="myModal" class="modal" >
        <!-- Modal content -->
        <div class="modal-content" >
            <form class="form" name="inquiryFrom" action="productinquiry/productinquiry/save" id="inq-form" method="post" enctype='multipart/form-data' autocomplete="off">
              <fieldset class="fieldset">
                  <input type="hidden" name="prd_name" id="prd_name" value="<?php echo $product_name; ?>">
                  <input type="hidden" name="inquiry_status" id="inquiry_status" value="0">
                  <div class="field required">
                      <label for="user_name" class="label"><span><?php echo __('Name:') ?></span></label>
                      <div class="control">
                          <input type="text" name="usr_name" id="user_name"  title="<?php echo __('Name:') ?>" value="<?php echo $user_name;  ?>" class="input-text" data-validate="{required:true}">
                      </div>
                  </div>
                  <div class="field required">
                      <label for="email_address" class="label"><span><?php echo __('E-mail:') ?></span></label>
                      <div class="control">
                          <input type="email" name="email" id="email_address" title="<?php echo __('E-mail') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" value="<?php echo $user_email;  ?>"  >
                      </div>
                  </div>
                  <div class="field required">
                      <label for="subject" class="label"><span><?php echo __('Subject:') ?></span></label>
                      <div class="control">
                          <input type="text" name="subject" id="subject"  title="<?php echo __('Subject:') ?>" class="input-text" data-validate="{required:true}">
                      </div>
                  </div>
                  <div class="field comment required">
                      <label class="label" for="inquiry_msg"><span><?php echo __('Massage:') ?></span></label>
                      <div class="control">
                          <textarea name="inq_msg" id="inq_msg" title="<?php echo __('Massage:') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}" aria-required="true"></textarea>
                      </div>
                  </div>
                  <?php
                    // Email Attachement status
                    $allow_attechment_status = $block->getFileAttachmentStatus();
                    if($allow_attechment_status == 1)
                    {
                      // allow file Extension list
                      $allow_file_extension = $block->getFileAttachmentExtension();
                      // verify file Extension list
                      $allow_file_extension_system = $block->getFileAttachmentExtension();
                      $allow_file_extension = explode(',', $allow_file_extension_system);
                      $all_extension  = array("pdf","csv","xls","xlr","doc","docx","txt");
                      foreach ($allow_file_extension as $value)
                      {
                        if(!in_array($value, $all_extension))
                        {
                          $button_disable = "disabled";
                          $allow_file_extension_system ="<span class='extension-error'>Invalid Extension Configure Settings</span>";
                        }// check value
                      } // allow attachment check loop
                      ?>
                        <div id="file-upload-section" class="field file required">
                          <label class="label" for="inquiry_msg"><span><?php echo __('Upload File:') ?></span></label>
                          <div class="control">
                            <input type="file" name="attechment_file" id="file-upload" title="<?php /* @escapeNotVerified */ echo __('Upload Attachment') ?>" />
                            <span>Allow Extension: <?php echo $allow_file_extension_system; ?></span>
                          </div>
                          <span class="attachement-error-msg"></span>
                        </div>
                        <input type="hidden" name="allow_attechment" id="allow_attechment" value="<?php echo $allow_attechment_status; ?>">
                      <?php
                    }
                    else
                    {
                      ?>
                        <input type="hidden" name="allow_attechment" id="allow_attechment" value="<?php echo $allow_attechment_status; ?>">
                      <?php
                    }
                    /* captcha and ReCaptcha Section */
                    $captcha_reCaptcha_status = $block->getCaptchaReCaptchaStatus();
                    // check Status of Captcha and Recaptcha
                    if($captcha_reCaptcha_status == 1)
                    {
                      /* check type of Captcha is select */
                      $captcha_reCaptcha_type = $block->getCaptchaReCaptchaType();
                      if($captcha_reCaptcha_type == 'captcha')
                      {
                        // string captcha block call
                        $customer_enable_captcha = $block->getCaptchaFormStatusCustomer();
                        if ($customer_enable_captcha == 1)
                        {
                          echo $block->getChildHtml('ProductInquiryCaptchaBlockButton');
                        }// for check Customer eneble captcha
                      } // if Magento captcha Select
                      if ($captcha_reCaptcha_type == 'recaptcha')
                      {
                        /* check site key and Secret key not null*/
                        $sitekey = $block->getCaptchaSiteKey();
                        $secretkey = $block->getCaptchaSecretKey();
                        if(($sitekey != '') && ($secretkey != ''))
                        {
                          $recaptcha_status = $block->getCaptchaFormStatusSecurity();
                          // check ReCpatcha is Enable For Forntend or not
                          if ($recaptcha_status == 1)
                          {
                            $catpcha_type = $block->getCaptchaType();
                            /* check Recaptcha Type */
                            if($catpcha_type == 'recaptcha')
                            {
                              // ReCaptcha Section //
                              // site key
                              $sitekey = $block->getCaptchaSiteKey();
                              // Recaptcha Theme
                              $recaptcha_theme = $block->getCaptchaTheme();
                              // Recaptcha Size
                              $recaptcha_size = $block->getCaptchaSize();
                              // Recaptcha Language
                              $recaptcha_lang = $block->getCaptchaLanguage();
                              if($recaptcha_lang == '')
                              {
                                ?>
                                  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                <?php
                              }
                              else
                              {
                                ?>
                                  <script src="https://www.google.com/recaptcha/api.js?hl=<?php echo $recaptcha_lang; ?> " async defer></script>
                                <?php
                              }
                              ?>
                              <div class="field captcha-code required">
                                  <label class="label" for="inquiry_msg"><span><?php echo __('Captcha:') ?></span></label>
                                  <div id="recaptcha" class="g-recaptcha" data-sitekey="<?php echo $sitekey; ?>" data-theme="<?php echo $recaptcha_theme; ?>" data-size="<?php echo $recaptcha_size; ?>" ></div>
                                  <span class="captcha-error-msg"></span>
                              </div>
                              <?php
                            } // if check captcha type
                            else
                            {
                              // Invisible Captcha section //
                              // site key
                              $sitekey = $block->getCaptchaSiteKey();
                              // invisible captcha Position
                              $captcha_badge = $block->getCaptchaPosition();
                              // Recaptcha Language
                              $recaptcha_lang = $block->getCaptchaLanguage();
                              if($recaptcha_lang == '')
                              {
                                ?>
                                  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback" async defer></script>
                                <?php
                              }
                              else
                              {
                                ?>
                                  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&hl=<?php echo $recaptcha_lang; ?> " async defer></script>
                                <?php
                              }
                              ?>
                                <div class="form-row">
                                    <div class="g-recaptcha"
                                         data-sitekey="<?php echo $sitekey; ?>"
                                         data-badge="<?php echo $captcha_badge; ?>" data-size="invisible"
                                         data-callback="setResponse">
                                      </div>
                                    <input type="hidden" id="captcha-response" name="captcha-response" />
                                </div>
                                <script>
                                  var onloadCallback = function(){grecaptcha.execute();};
                                  function setResponse(response){
                                    document.getElementById('captcha-response').value = response;
                                    //alert(response);
                                  }
                                </script>
                              <?php
                            } // if captcha type
                          } // if recaptcha Status is enable or not
                        }// if site  key not null
                        else
                        {
                          $button_disable = "disabled";
                          ?>
                          <div class="field note ">
                             <label class="label" for="invalid_key_msg">
                                <span>
                                    <p data-validate="{required:true}" class="captcha-error-msg">* Site Key OR Secret Key is Empty, Please Put Google Recaptcha Key.</p>
                                </span>
                              </label>
                          </div>
                          <?php
                        }// else site  key not null
                      } // if recaptcha select
                   } // if captcha or Recaptcha is Enable for Module
                   //exit();
                  ?>
              </fieldset>
              <div class="actions-toolbar">
                  <div class="primary">
                      <button type="submit" id="inq-submit"  data-mage-init='{"prd_inquiry_js":{}}'  class="action submit primary " title="<?php  echo __('Submit') ?>" <?php echo $button_disable; ?> ><span><?php echo __('Submit') ?></span></button>
                  </div>
              </div>
            </form>
            <script type="text/x-magento-init">
                {
                    "#inq-form": {
                        "validation": {}
                    }
                }
            </script>
            <div class="require-notes"><span>* These Fields are Required.</span></div>
        </div>
      </div>
      <!--  over Popup -->
      <?php
    } // for button popup option
  } // for prduct attribute
} // for module status
?>
