{{template config_path="design/email/header_template"}}
<!--@subject {{trans "%subject" subject=$subject}}   @-->
<!--@vars {"var inquiry_status":trans "%inquiry_status","var admin":trans "%admin",} @-->
<div>
	<h2 align="center">PRODUCT INQUIRY DETAILS</h2>
	{{if admin}}
	<br/><br/>
		<h3>
			<strong>Dear Admins,</strong>
		</h3>
		<br/>
		<h4>
			<span>New Inquiry has been submitted</span>
		</h4>
	<br/>
	<p><span><strong><i><u>Infos:</u></i></strong></span></p>
	{{/if}}
	<table cellpadding="5" width="100%">
		<tr>
			<td width="20%"><b>Product Name</b></td>
			<td width="80%">:&nbsp;&nbsp;{{trans "%prd_name" prd_name=$prd_name}}</td>
		</tr>
		<tr>
			<td width="20%"><b>Name</b></td>
			<td width="80%">:&nbsp;&nbsp;{{trans "%usr_name" usr_name=$usr_name}}</td>
		</tr>
		<tr>
			<td width="20%"><b>E-mail</b></td>
			<td width="80%">:&nbsp;&nbsp;{{trans "%email" email=$email}}</td>
		</tr>
		<tr>
			<td width="20%"><b>Subject</b></td>
			<td width="80%">:&nbsp;&nbsp;{{trans "%subject" subject=$subject}}</td>
		</tr>
		<tr>
			<td width="20%"><b>Message</b></td>
			<td width="80%">:&nbsp;&nbsp;{{trans "%inq_msg" inq_msg=$inq_msg}}</td>
		</tr>
		{{if inquiry_status}}
		<tr>
			<td width="20%"><b>Inquiry Replay</b></td>
			<td width="80%">:&nbsp;&nbsp;{{trans "%inquiry_replay" inquiry_replay=$inquiry_replay}}</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><br/><br/><b>Product Inquiry has been {{trans "%inquiry_status" inquiry_status=$inquiry_status}}</b></td>
		</tr>
		{{/if}}
	</table>
	{{if admin}}
	<br/><br/>
	<div>
		<p>
			<span>Kind regards,</span>
			<br/>
			<span>demo Team</span>
			<br/>
			<span>Email: support@demo.com</span>
		</p>
	</div>
	{{/if}}
</div>
{{template config_path="design/email/footer_template"}}