<div class="file-uploader-summary file-upload-summary product-inquiry">
    <a attr="href: $parent.getFilePreview($file)" target="_blank">
    	<div class="file-uploader-filename file-upload-name" text="$file.name"/>
    	</div>
	</a>
</div>